.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color:#000;

  :global .wrapper {
    width:100%;
    max-width:1400px;
    margin: 0 auto;
  }

}
